*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
  
}

body{
    text-align: center;
    font-family: 'Nuosu SIL', serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}

ol{
    text-align: center;
    font-family: 'Nuosu SIL', serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}

.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    background-color: #011526;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.navbar{
    display: flex;
    margin-right: 10px;

}

.logo {
margin-left: 30px;

}

.logo a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 20px;

}

.navbar a {
    display: block;
    padding: 23px 20px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

.navbar a:hover {
    background: #012E40;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    height: 60vh !important;
    background: url(/IMG/fondoInicio.jpg) no-repeat center;
    background-size: cover;
}

.title{
    margin-bottom: 40px;
    font-size: 200%;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
}

p {
    margin-bottom: 40px;
    font-size: 18px;
    color: white;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 40px;
    border: 2px 10px #012E40;
    color: white;
    text-decoration: none;
    background: #011526;
}

.btn:hover {
    background: local;
}

.btn-home {
    display: flex;
}

.btn-home a {
    margin: 0 10px;
    display: flex;
    
}

.content {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.sau{
    padding: 50px;
    background: #011526;

}

.box-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;

}

.box-container .box{
    height: 11rem;
    width: 17rem;
    background: #012E40;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 .3rem 5rem rgba(39, 38, 38, 0.5);
    margin: 2rem;
}

.box-container .box img{
    height: 5rem;
    width: 5rem;
    line-height: 3rem;
    text-align: center;
    border-radius: 50%;
    color: white;
    background: none;
    font-size: 2rem;
    margin: 1rem 0;
 }

 .box-container .box h3{
    font-size: 20px;
    color: white;
    text-align: center;
 }

 .box-container .box p{
    font-size: 16px;
    padding: 0 15px;
    text-align: center;
 }

 .price {
    background: url(/IMG/inicio2.jpg) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;

 }

 .contact {
    padding-top: 20px;
    background: #171717;
    padding-bottom: 0;


 }

 @media (max-width: 768px) {
    .title{
        margin-bottom: 0;
        font-size: 40px;
    }

    .sau{
        height: 120vh;

    }

    .navbar {
        display: none;
    }
    
 }

/*FOOTER*/

.piePagina{
    width: 100%;
    background-color: #011526;

}

.piePagina .grupo1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;

}

.piePagina .grupo1 .box figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.piePagina .grupo1 .box figure img{
    width: 100px;
}

.piePagina .grupo1 .box h2 {
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;

}

.piePagina .grupo1 .box p {
    color: #efefef ;
    margin-bottom: 10px;
}

.piePagina .grupo1 .redsocial a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #012E40;
    transition: all 300ms ease;
}

.piePagina .grupo1 .redsocial a:hover{
    color: #03e9f4;
}

.piePagina .grupo2 {
    background-color: #011526;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}

.piePagina .grupo2 small{
    font-size: 20px;
    
}

@media screen and (max-width:800px){
    .piePagina .grupo1 {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    
    }
}