
*{
    margin: 0;
   
    border: 0;
    font-size: 20px ;
    vertical-align: baseline;
  
}

body {
    text-align: center;
    font-family: 'Nuosu SIL', 'Oswald', 'Roboto Condensed', sans-serif;
}

ol{
    text-align: center;
    font-family: 'Nuosu SIL', serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}

.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    background-color: #011425;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.navbar{
    display: flex;


}
.navbar a {
    display: block;
    padding: 23px 20px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}
.logo {
    margin-left: 30px;
    
    }
    
    .logo a {
        text-decoration: none;
        color: white;
        text-transform: uppercase;
        font-size: 20px;
    
    }
    .contenido{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: auto;
        margin: 0px;}
    
.con{

    width: 100%;

    height: 80px;
    background-color: #171717;
    

}


.imagen {
margin: 10px;
width: 25%;
height: 25%;
float: left;
  }
  
  .can{
    
    width: 100%;
    background-color:  #012E40;
    

}
.cen{

    padding: 50px;
    background-color:#171717
    

}


.texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
    font-family: 'Nuosu SIL', serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
  }
  
  .title {
    color: white;
    text-align: center;
    font-size: 1.5em;
    margin: 0;
  }
  

  .contenedortxt{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 87%;
    
}

p {
    color: white;
    text-align: center;
   
    margin: 1px 0 0 0;
  }
  
  
  .containera {
    width:auto;
    background-color: #012E40;
    padding: 20px;
    overflow: hidden;
}
  
.containerInst {
    
   
    padding: 20px;
    overflow: hidden;
}
  
  .imga {
    max-width: 50%;
    height: 25%;
    width: 25%;
    margin-top: -405px;
    margin-right: 20px;
  }
  
  .textoizq {
    font-size: 15px;
    color: #ffffff;
    width: 450px;
    text-align: justify;
   
    margin-bottom: 20px;
  }
  
  
  
  



  
  
  
  
  
  footer {
    background-color:  rgba(2, 73, 89, 1);
    color: white;
    text-align: center;
    padding: 20px;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    width:auto;
    align-items: center;
    height: 100px;
    text-align: end;
    gap: 10px;
}
.footer-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-container img {
    width: 70px;
    margin-right: 20px;
}
